{% extends 'layout.html' %}

{% block title %}Halaman Admin{% endblock %}

{% block content %}
<div>
<h2>Petunjuk Penggunaan.</h2>
<ul class="b">
<li>Pilih "<strong style="color:#4a536e;">Data Menu</strong>", untuk melakukan olah data menu.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Data Kasir</strong>", untuk melakukan olah data kasir.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Data Penjualan</strong>", untuk melakukan pencarian dan olah data penjualan.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Data Member</strong>", untuk melakukan olah data member.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Ubah Password</strong>", untuk melakukan perubahan password login admin.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Logout</strong>", untuk keluar login sebagai admin.</li>
</ul>
</div>
{% endblock %}
