{% extends 'layout.html' %}

{% block title %}Halaman Data Member{% endblock %}

{% block content %}
<h2>Data Member</h2>
<div>
	<p><a href="{{ url_for('daftar_member') }}"><button>Member Baru</button></a></p>
	<table width="100%" class="bb" style="table-layout:fixed;">
		<tr>
			<th width="20%">Nama</th>
			<th width="30%">Alamat</th>
			<th width="15%">No.Telepon</th>
			<th width="20%">Email</th>
			<th width="15%">Modifikasi</th>
		</tr>
		{% for baris in container %}
		<tr align="center" style="word-wrap:break-word;">
			<td>{{ baris[1] }}</td>
			<td align="left">{{ baris[2] }}</td>
			<td>{{ baris[3] }}</td>
			<td align="left">{{ baris[4] }}</td>
			<td align="center">
				<a href="/ubah_member/{{ baris[0] }}"><button><i class="fas fa-edit"></i></button></a>
				<a href="/hapus_member/{{ baris[0] }}"><button><i class="fas fa-trash"></i></button></a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
