{% extends 'layout.html' %}

{% block title %}Halaman Kasir{% endblock %}

{% block content %}
<div>
<h2>Petunjuk Penggunaan.</h2>
<ul class="b">
<li>Pilih "<strong style="color:#4a536e;">Daftar Menu</strong>", untuk melakukan input pesanan dari kasir.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Pembayaran</strong>", untuk menampilkan dan konfirmasi pemesanan menu.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Penjualan</strong>", untuk menampilkan daftar penjualan tersimpan.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Data Member</strong>", untuk melakukan olah data member.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Ubah Login</strong>", untuk melakukan perubahan login kasir.</li><br/>
<li>Pilih "<strong style="color:#4a536e;">Logout</strong>", untuk keluar login sebagai kasir.</li>
</ul>
</div>
{% endblock %}
