<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}" type="text/css">
	</head>
	<body>
		<div class="login">
			<h1>Login</h1>
			<div class="links">
				<a href="{{ url_for('login') }}" class="active">Login</a>
				<a href="{{ url_for('index') }}">Menu</a>
			</div>
			<form action="{{ url_for('login') }}" method="post">
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" autofocus="autofocus" maxlength="20" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" maxlength="100" required>
				<div class="msg" ><strong>{{ msg }}</strong></div>
				<input type="submit" value="Login">
			</form>
		</div>
	</body>
</html>

